html,
body {
    height: 100%;
    background-color: #051D3B;
}

.conteudo {
    padding: 32px 32px;
    height: 100%;
}

.btn-transparent {
    background-color: transparent;
    border: none;
}

.txt-buscar {
    width: 100%;
    border-radius: 8px;
    height: 56px;
    background: rgba(255, 255, 255, 0.16);
    border: none;
    color: white;
    opacity: 0.64;
    padding: 0px 14px;

}

.col-botoes-navbar {
    text-align: right;
}

.user {
    color: white;
}

.sidebar-title {
    color: white;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.4em;
    text-transform: uppercase;
}

.sidebar-item {
    margin-bottom: 16px;
}

.sidebar-link {
    color: white;
    text-decoration: none;
    font-size: 16px;
    line-height: 24px;
    width: 100%;
    display: flex;
    align-items: center;
}

.code-editor {
    width: 100%;
    height: 366px;
    background-color: #6BD1FF;
    border-radius: 8px;
    padding: 32px 32px;
    border: none;
    margin-bottom: 32px;
}

.textarea-code-editor {
    height: 100%;
    width: 100%;
    background-color: #141414;
    border: none;
    border-radius: 8px;
    box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.24);
    padding-top: 52px;
    padding-bottom: 16px;
    padding-left: 16px;
    padding-right: 16px;
    color: white;
    font-size: 17px;
    line-height: 18px;
    resize: none;
}

.botoes-mac {
    position: absolute;
    margin-top: 16px;
    margin-left: 16px;
}

.btn-highlight {
    background-color: rgba(80, 129, 251, 0.08);
    border-radius: 8px;
    width: 100%;
    border: none;
    color: white;
    height: 56px;
}

.form-title {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.4em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.txt-nome-projeto {
    width: 100%;
    height: 56px;
    background-color: rgba(255, 255, 255, 0.16);
    border-radius: 8px;
    border: none;
    margin-bottom: 16px;
    color: #FFFFFF;
    opacity: 0.64;
    padding: 14px 16px;
}

.txta-descricao-projeto {
    width: 100%;
    height: 80px;
    background-color: rgba(255, 255, 255, 0.16);
    border-radius: 8px;
    border: none;
    color: #FFFFFF;
    opacity: 0.64;
    resize: none;
    padding: 14px 16px;
    margin-bottom: 40px;
}

.select-linguagem {
    width: 100%;
    height: 56px;
    background-color: rgba(255, 255, 255, 0.16);
    border-radius: 8px;
    color: #FFFFFF;
    opacity: 0.64;
    padding: 14px 16px;
    margin-bottom: 16px;
}

.color-picker {
    width: 100%;
    height: 56px;
    padding: 8px 8px;
    background-color: rgba(196, 196, 196, 0.01);
    border-radius: 8px;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    margin-bottom: 32px;
}

.btn-salvar {
    width: 100%;
    height: 56px;
    background: #5081FB;
    border-radius: 8px;
    border: none;
    margin-bottom: 40px;
}

/*>=769px */
@media (min-width: 769px) {
    .btn-hamburguer {
        display: none;
    }

    .user {
        position: fixed;
        top: 0%;
        right: 0%;
        margin-top: 52px;
        margin-right: 32px;
    }

    .col-editor {
        padding: 0px 5px;
    }

    .col-formulario {
        padding-left: 40px;
    }
}

/*<=768px*/
@media (max-width: 768px) {
    .col-buscar {
        width: 66.66666666666667%;
    }    

    .col-botoes-navbar {
        width: 8.333333333333333%;
    }

    .sidebar {
        display: none;
    }

    .col-editor {
        width: 100%;
    }

    .col-formulario {
        width: 100%;
        margin-top: 40px;
        margin-left: 0px;
        
    }

    .col-linguagem {
        width: 50%;
    }

    .col-cor {
        width: 50%;
    }
}

/*<=720px*/
@media (max-width: 720px) {
    .col-brand {
        width: 33.33333333333333%;
    }

    .col-buscar {
        width: 58.33333333333333%;
    }

    .col-botoes-navbar {
        width: 8.333333333333333%;
    }
}

/*>=577px */
@media (min-width: 576px) {
    .btn-buscar {
        display: none;
    }

    .btn-fechar {
        display: none;
    }
}

/*<=576px */
@media (max-width: 575px) {
    .buscar {
        position: fixed;
        width: 343px;
        bottom: 5%;
        left: 50%;    
        transform: translateX(-50%);
        display: none /*TODO: fixed*/;
    }

    .col-buscar {
        width: 0%;
    }

    .col-botoes-navbar {
        width: 41.66666666666667%;
    }

    .col-linguagem {
        width: 100%;
    }

    .col-cor {
        width: 100%;
    }

    .conteudo {
        padding: 16px;
    }
}