html {
    height: 100%;
}

html,
body {    
    background-color: #051D3B;
}

.div-btn-nav {
    text-align: right;
}

.navbar {
    margin-left: 32px;
    margin-right: 32px;
    margin-top: 32px;
    margin-bottom: 40px;
    padding: 0px 0px;
    position: unset;
}

.btn-icon {
    background: none;
    border: none;
    width: 48px;
    height: 48px;
    outline: none;
    padding: 0px 0px;
}

.btn-icon:hover {
    background: rgba(80, 129, 251, 0.08);
    border-radius: 16px;
}

.btn-icon:active {
    background: rgba(80, 129, 251, 0.16);
    border-radius: 16px;
}

.btn-item-menu {
    border: none;
    background: rgba(80, 129, 251, 0.16);
    border-radius: 16px;
    width: 48px;
    height: 48px;
    pointer-events: none;
    padding: 0px 0px;
}

.btn-usuario {
    background: none;
    border: none;
    width: 32px;
    height: 32px;
    padding: 0px 0px;
    margin-left: 12px;
    pointer-events: none;
}

.input-texto {
    width: 100%;
    height: 56px;
    background: rgba(255, 255, 255, 0.16);
    border-radius: 8px;
    border: none;
    padding: 14px 16px;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    opacity: 0.64;
    outline: none;
    resize: none;
}

.input-texto:hover {
    background: rgba(255, 255, 255, 0.24);
    opacity: unset;
}

#btn-buscar {
    margin-right: 36px;
}

.nav-item {
    margin-bottom: 16px;
}

.nav-link {
    padding: 0px 0px;
    display: flex;
    align-items: center;
    opacity: 0.56;
}

.nav-link:hover {
    opacity: 0.72;
}

.nav-link:hover .btn-item-menu {
    background: rgba(80, 129, 251, 0.64);
}

.nav-link-active {
    opacity: unset;
}

.nav-link:active {
    opacity: unset;
}

.nav-link:active .btn-item-menu {
    background: #5081FB;
}

.btn-item-menu-active {
    background: #5081FB;
}

.nav-link-usuario {
    height: 56px;
    text-decoration: none;
    padding: 0px 0px;
    display: flex;
    align-items: center;
    
}

.nav-link-usuario:hover {
    background: rgba(255, 255, 255, 0.08);
    border-radius: 8px;
}

.font-title {
    font-weight: bold;
    font-size: 21px;
    line-height: 31px;
    color: #FFFFFF
}

.font-body {
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    opacity: 0.8;
}

.font-sidebar-title {
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.4em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.font-sidebar-item {
    margin-left: 16px;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    pointer-events: none;
}

.hr-menu {
    opacity: 0.08;
    border: 1px solid #FFFFFF;
}

.bg-code-editor {
    width: 100%;
    height: 366px;
    background: #6BD1FF;
    border-radius: 8px;
    padding: 32px 32px;
}

.div-code-editor {
    overflow: auto;
    box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.24);
}

.div-code-editor::-webkit-scrollbar {
    width: 100%;
    height: 8px;
}

.div-code-editor::-webkit-scrollbar-track {
    background: lightgray;
}

.div-code-editor::-webkit-scrollbar-thumb {
    background-color: #141414;
    border-radius: 8px;
    border: 3px solid lightgray
}

.code-editor {
    display: block;
    resize: none;
    height: 262px;
    background: #141414;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    padding-top: 24px;
    padding-left: 16px;
    padding-bottom: 16px;
    padding-right: 16px;
    color: white;
    font-size: 14px;
    line-height: 18px;
    overflow: auto;
    outline: none;
    min-inline-size: max-content;
    white-space: pre;
}

.code-editor::-webkit-scrollbar {
    height: 100%;
    width: 8px;
}

.code-editor::-webkit-scrollbar-track {
    background: lightgray;
}

.code-editor::-webkit-scrollbar-thumb {
    background-color: #141414;
    border-radius: 8px;
    border: 3px solid lightgray
}

.btn-mac {
    width: 100%;
    height: 40px;
    background: #141414;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding-left: 16px;
    padding-top: 16px;
    box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.24);
}

#col-code-editor {
    padding: 0px 0px;
}

.form-item {
    margin-bottom: 16px;
}

.input-select {
    width: 100%;
    height: 56px;
    background: rgba(255, 255, 255, 0.16);
    border-radius: 8px;
    padding: 14px 16px;
    border: none;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    opacity: 0.64;
    outline: none;
}

.input-select:hover {
    background: rgba(255, 255, 255, 0.24);
    opacity: unset;
}

.option-select {
   background-color: #1f344f;
   outline: none;
   font-weight: bold;
}

.input-color {
    width: 100%;
    height: 56px;
    background: rgba(196, 196, 196, 0.01);
    border: 1px solid #FFFFFF;
    border-radius: 8px;
    padding: 8px 8px;
    outline: none;
}

.btn-filled {
    width: 100%;
    height: 56px;
    background: #5081FB;
    border-radius: 8px;
    border: none;
    padding: 16px 16px;
    color: #051D3B;
    font-size: 16px;
    line-height: 24px;
    outline: none;
}

.btn-filled:hover {
    background: #7BA4FC;
}

.btn-filled:active {
    background: #7BA4FC;
    border: 4px solid rgba(80, 129, 251, 0.72);
}

.btn-filled:focus {
    background: #96B9FD;
}

.btn-outlined {
    width: 100%;
    height: 56px;
    background: rgba(80, 129, 251, 0.08);
    border-radius: 8px;
    border: none;
    padding: 16px 16px;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 24px;
    outline: none;
}

.btn-outlined:hover {
    background: rgba(80, 129, 251, 0.16);
}

.btn-outlined:active {
    background: rgba(80, 129, 251, 0.16);
    border: 4px solid rgba(80, 129, 251, 0.24);
}

.btn-outlined:focus {
    background: rgba(80, 129, 251, 0.24);
}

#div-buscar {
    display: flex; 
    width: 100%;
}

.card {
    height: 400px;
    background: rgba(0, 0, 0, 0.16);
    border-radius: 8px;    
}

.card:hover {
    height: 464px;
}

.card .bg-code-editor {
    height: 288px;
    padding: 24px 24px;
}

.card .code-editor {
    height: 204px;
}

.card .btn-mac {
    padding-left: 12px;
    padding-top: 12px;
    height: 36px;
}

.card .img-mac {
    height: 9px;
}

.card .titulo {
    width: 100%;
    margin-top: 24px;
    margin-left: 24px;
    margin-right: 24px;
}

.card .descricao {
    width: 100%;
    margin-top: 8px;
    margin-left: 24px;
    margin-right: 24px;
}

.card .actions {
    margin-left: 24px;
    margin-right: 24px;
    margin-top: 24px;
    display: none;
}

.card:hover .actions {
    display: flex;
}

.card .actions .col {
    padding: 0px 0px;
}

.card .img-usuario {
    margin-right: 8px;
}

.card .btn-usuario {
    width: auto;
    height: 40px;
    display: flex;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    pointer-events: unset;
    align-items: center;
    padding-left: 8px;
    padding-right: 8px;
    display: flex;
    align-items: center;
}

.card .btn-usuario:hover {    
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.08);
}

.card .img-comentario {
    margin-right: 10px;
}

.card .btn-comentario {
    width: auto;
    background: none;
    outline: none;
    border: none;
    padding-left: 8px;
    padding-right: 8px;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
}

.card .btn-comentario:hover {
    background: rgba(255, 255, 255, 0.08);
    border-radius: 16px;
}

.card .btn-comentario:active {
    background: rgba(255, 255, 255, 0.16);
    border-radius: 16px;
}

.card .img-favorito {
    margin-right: 10px;
}

.card .btn-favorito {
    width: auto;
    background: none;
    outline: none;
    border: none;
    padding-left: 8px;
    padding-right: 8px;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}

.card .btn-favorito:hover {
    background: rgba(255, 255, 255, 0.08);
    border-radius: 16px;
}

.card .btn-favorito:active {
    background: rgba(255, 255, 255, 0.16);
    border-radius: 16px;
}

.conteudo {
    margin-left: 32px; 
    margin-right: 32px; 
    margin-bottom: 32px;
}

/* <= 991px */
@media(max-width: 991px) {
    #sidebar-title {
        display: none;
    }

    #col-sidebar {
        display: none;
        position: absolute;
        background: #2D415B;
        border-radius: 8px;
        width: 254px;
        height: 912px;
        right: 0;
        margin-top: -16px;
        padding-top: 24px;
        opacity: none;
        z-index: 1;
        margin-right: 32px;
    }
    
    #col-formulario {
        padding: 0px 0px;
        margin-top: 40px;
        margin-bottom: 40px;
    }
}

/* >= 992px */
@media(min-width: 992px) {
    #btn-hamburguer{
        display: none;
    }

    #div-hr-menu {
        display: none;
    }

    #div-usuario {
        position: absolute;
        top: 0;
        right: 0;
        margin-top: 32px;
        margin-right: 32px;
    }

    #col-formulario {
        padding: 0px 0px;
        padding-left: 40px;
    }

    #col-sidebar {
        padding: 0px 0px;
    }
}

/* <= 767px */
@media(max-width: 767px) {
    #col-buscar {
        display: none;
        width: 100%;
    }

    #col-sidebar {
        height: 571px;
        margin-right: 16px;
    }

    .conteudo {
        margin-left: 16px; 
        margin-right: 16px; 
        margin-bottom: 16px;
    }

    .navbar {
        margin-left: 16px;
        margin-right: 16px;
        margin-top: 16px;
    }
}

/* >= 768px */
@media(min-width: 768px) {
    #btn-fechar-buscar {
        display: none;
    }

    #btn-buscar {
        display: none;
    }
}